<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<title>Rock-N-Roll Hall of Fame!</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- css file -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		

	
	</head>
			<div class="wrap">
				<div class="row">
					<div id="header" class="container col-xs-12 text-center">
						<img id="pacman-title" src="../img/titlebg.png" width="800px" />
					</div>
				</div>
			</div>

	<body>
		{{{body}}}
	</body>
</html>