<div class="container">

    <div class="jumbotron">
    <h1>Let's Rock</h1>
    </div>

      <div class="row">
      <h3>Not Hall of Fame</h3>
        <div class="col-md-5">
        <ul class="list-group">
          {{#each bands}}
              {{#unless this.hall_of_fame}}
              <li class="list-group-item">
                  <div class="input-group">
                      <p class="lead"> {{this.band_name}} </p>
                      <span class="input-group-btn">
                        <form action="rock/update/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="hall_of_fame" value="true">
                            <button class="btn btn-default" type="submit">Hall of Famer</button>
                        </form>
                      </span>
                  </div>
              </li>
              {{/unless}}
          {{/each}}
        </ul>
        </div>
</div>

<h2>Hall of Fame</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel panel-default">
        <ul class="list-group">
        {{#each bands}}
          {{#if this.hall_of_fame}}
          <li class="list-group-item">
            <p class="lead">{{this.band_name}} </p>
          </li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
  </div>

<div class="col-md-8">
<p>Add a Band</h2>
<form class="create-update-form" action="rock/create" method="POST">


  <div class="form-group">
    <textarea class="form-control input-med" type="text" name="band_name"></textarea>
   
  </div>

  <button class="btn btn-default" type="submit">Add Band</button>
</form>
</div>
